* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border: 2px solid #6c6f85;
}

html,
body {
  height: max-content; /* Make sure html and body take full viewport height */
  margin: 0; /* Remove default margin */
  width: 100%; /* Ensure full width */
}

body {
  display: flex; /* Use flexbox for body */
  flex-direction: column; /* Column direction to stretch child elements */
}
.root {
  flex: 1;
  display: flex;
  background: #313244;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-top: 20px;
  height: 100%;
  min-height: 100vh;
}

h2 {
  background: #fab387;
  border-radius: 10px;
  color: #11111b;
  width: 500px;
  text-align: center;
  text-justify: center;
  width: 100%;
  margin-bottom: 5px;
}

.weekday {
  background: #74c7ec;
  font-size: 20pt;
  width: 450px;
  color: #11111b;
  text-align: center;
  text-justify: center;
  border-radius: 10px;
}

.classes {
  border-radius: 10px;
  padding: 10px;
}

.classLine {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 4fr 4fr;
  width: 600px;
  font-size: 14pt;
  padding: 5px 10px 5px 10px;
  color: #11111b;
  background: #b4befe;
  flex-direction: row;
  border: solid #1e1e2e 1px;
  border-radius: 5px;
  gap: 10px;
}

.classLine .classNumber {
  grid-column: 1;
  text-align: center;
  padding-right: 5px;
  align-content: center;
  grid-row: 1 / span 2;
  border-right: 1px solid black;
}
.classLine .className {
  grid-column: 3 / span 3;
  border-bottom: 1px solid black;
}

.classLine .classTime {
  grid-column: 2;
  grid-row: 1 / span 2;
  text-align: center;
  align-content: center;
}
.classLine .classTeacher {
  grid-row: 2;
  grid-column: 3 / span 2;
}

.classLine .classroom {
  text-align: right;
  width: 100px;
}

.studentData {
  display: flex;
  justify-content: center;
  background: #89b4fa;
  border-radius: 5px;
}

.studentData .groupName,
.studentData .subgroup {
  background: none;
  font-size: 12pt;
  border: 1px solid #94e2d5;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

.buttonBox {
  width: 450px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.submit:hover,
.button:hover,
.reset:hover,
.weekButton:hover,
.nextWeekButton:hover {
  cursor: pointer;
  font-weight: bold;
}

.submit,
.button,
.reset,
.weekButton,
.nextWeekButton {
  width: 100%;
  font-size: 14pt;
  height: 35px;
  border: none;
  border-radius: 5px;
}

.submit {
  background: #a6e3a1;
}

.button {
  background: #f9e2af;
}

.reset {
  background: #eba0ac;
}

.message {
  font-size: 14pt;
  color: #f5e0dc;
  padding: 100px;
}

.weekButton {
  background: #89dceb;
}

.nextWeekButton {
  background: #cba6f7;
}

.days {
  margin: 10px;
}

.days .weekday {
  margin-top: 20px;
  width: 100%;
}

.weekName {
  margin-top: 10px;
  background: #89b4fa;
  font-size: 20pt;
  width: 450px;
  color: #11111b;
  text-align: center;
  text-justify: center;
  border-radius: 10px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .classLine {
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    font-size: 12pt;
  }

  .weekday,
  .weekName {
    font-size: 16pt;
  }

  .classLine .classNumber,
  .classLine .classTime,
  .classLine .className,
  .classLine .classTeacher,
  .classLine .classroom {
    font-size: 12pt;
  }

  .buttonBox {
    width: 90%;
  }

  .submit,
  .button,
  .reset,
  .weekButton,
  .nextWeekButton {
    font-size: 12pt;
    height: 30px;
  }

  .studentData {
    width: 95%;
  }

  .studentData .groupName, .studentData .subgroup {
    width: 45%;
    font-size: 10pt;
  }

  .weekName {
    margin-top: 10px;
    width: 100%;
  }

  .classLine {
    width: 100%;
  }
}
